Exploratory Data Analysis

In [1]:
import pandas as pd

cashrequestdf = pd.read_csv("project_dataset/cashreq.csv")
feesdf = pd.read_csv("project_dataset/fees.csv")

In [3]:
cashrequestdf.head(5)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [5]:
print("first created date is: ",cashrequestdf["created_at"].min())
print("last created date is: ",cashrequestdf["created_at"].max())

first created date is:  2019-11-19 13:57:53.511561+00
last created date is:  2020-11-01 23:42:30.847066+00

In [7]:
cashrequestdf.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [9]:
cashrequestdf.shape

(23970, 16)

In [11]:
cashrequestdf.isnull().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [13]:
# 2130 user_id missing

In [13]:
cashrequestdf.nunique()

id                            23970
amount                           41
status                            7
created_at                    23970
updated_at                    23970
user_id                       10798
moderated_at                  16035
deleted_account_id             1141
reimbursement_date             4089
cash_request_received_date      312
money_back_date               12221
transfer_type                     2
send_at                       16641
recovery_status                   4
reco_creation                  3330
reco_last_update               3330
dtype: int64

In [25]:
cashrequestdf.sample(20)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
22568,17492,100.0,money_back,2020-09-23 14:58:54.542629+00,2020-12-18 13:13:48.215133+00,19203.0,NaN,NaN,2020-10-22 10:00:00+00,2020-09-24,2020-10-25 23:00:00+00,instant,2020-10-07 14:58:54.492943+00,NaN,NaN,NaN
2149,1372,22.0,money_back,2020-04-25 06:57:55.246102+00,2020-07-01 03:00:16.178325+00,2607.0,2020-04-25 16:18:21+00,NaN,2020-05-05 06:58:09+00,2020-06-25,2020-07-01 03:00:16.178031+00,regular,NaN,NaN,NaN,NaN
20615,23026,50.0,money_back,2020-10-22 10:49:57.813885+00,2020-12-18 13:12:35.789299+00,72602.0,NaN,NaN,2020-11-05 22:00:00+00,2020-10-23,2020-11-05 21:22:57.724107+00,instant,2020-10-22 10:50:25.092989+00,NaN,NaN,NaN
15506,13794,50.0,money_back,2020-08-25 04:27:35.709625+00,2020-12-18 13:10:35.19917+00,33839.0,2020-08-25 08:02:25.955637+00,NaN,2020-09-29 22:00:00+00,2020-08-26,2020-09-30 19:19:09.91729+00,instant,2020-09-01 04:27:35.686745+00,NaN,NaN,NaN
4954,11861,100.0,rejected,2020-08-11 05:31:46.416881+00,2020-08-11 10:10:57.797955+00,22583.0,2020-08-11 10:10:57.79554+00,NaN,2020-09-07 22:00:00+00,NaN,NaN,instant,2020-08-18 05:31:46.416392+00,NaN,NaN,NaN
21460,26711,100.0,money_back,2020-10-31 12:17:35.510491+00,2020-12-18 13:12:56.588607+00,96277.0,NaN,NaN,2020-11-30 23:00:00+00,2020-11-03,2020-11-25 11:27:43.691246+00,instant,2020-10-31 12:17:55.101185+00,NaN,NaN,NaN
9946,24826,25.0,direct_debit_rejected,2020-10-26 19:18:19.823184+00,2020-12-02 22:20:00.620065+00,29163.0,NaN,NaN,2020-11-23 22:00:00+00,2020-10-29,NaN,instant,2020-10-26 19:18:43.596894+00,pending,2020-12-02 22:20:00.646697+00,2020-12-02 22:20:00.646709+00
15325,7629,100.0,money_back,2020-07-11 16:46:47.055724+00,2020-12-18 13:10:31.716685+00,NaN,2020-07-11 16:47:04.597447+00,17685.0,2020-08-05 22:00:00+00,2020-07-14,2020-08-05 22:00:00+00,regular,NaN,NaN,NaN,NaN
3285,11219,50.0,rejected,2020-08-06 20:15:50.356838+00,2020-08-07 09:51:34.244977+00,NaN,2020-08-07 09:51:34.24248+00,13808.0,2020-08-21 23:51:00+00,NaN,NaN,instant,2020-08-13 20:15:50.356237+00,NaN,NaN,NaN
10854,7307,100.0,money_back,2020-07-09 09:47:33.048015+00,2020-12-18 13:08:52.904621+00,15784.0,2020-07-09 16:49:38.597494+00,NaN,2020-08-04 23:51:00+00,2020-07-11,2020-08-04 22:00:00+00,regular,NaN,NaN,NaN,NaN
12569,24989,50.0,money_back,2020-10-27 08:29:01.702742+00,2020-12-18 13:09:28.537353+00,77040.0,NaN,NaN,2020-11-06 11:00:00+00,2020-10-28,2020-12-10 05:40:37.95054+00,instant,2020-10-27 08:29:16.504789+00,completed,2020-11-18 22:18:21.132576+00,2020-12-10 05:40:37.955675+00
4202,10188,100.0,rejected,2020-07-30 16:01:08.46381+00,2020-07-30 16:44:25.204609+00,33133.0,2020-07-30 16:44:25.202106+00,NaN,2020-08-27 22:00:00+00,NaN,NaN,instant,2020-08-06 16:01:08.463355+00,NaN,NaN,NaN
7719,18349,100.0,rejected,2020-09-29 08:37:05.53362+00,2020-09-29 09:19:01.959119+00,NaN,2020-09-29 09:19:01.951482+00,8142.0,2020-10-12 22:00:00+00,NaN,NaN,instant,2020-10-06 08:37:05.508637+00,NaN,NaN,NaN
16145,24688,75.0,money_back,2020-10-26 14:56:35.535492+00,2020-12-18 13:10:46.984136+00,93168.0,NaN,NaN,2020-11-02 22:00:00+00,2020-10-27,2020-10-31 08:47:48.924862+00,instant,2020-10-26 14:56:58.791637+00,NaN,NaN,NaN
17855,26560,100.0,money_back,2020-10-31 01:22:42.651393+00,2020-12-18 13:11:26.621585+00,3088.0,NaN,NaN,2020-11-15 01:22:54.667+00,2020-11-10,2020-11-18 23:00:00+00,regular,2020-11-07 01:22:42.647564+00,NaN,NaN,NaN
5623,14454,50.0,rejected,2020-09-04 04:45:05.811062+00,2020-09-04 08:58:48.040165+00,35023.0,2020-09-04 08:58:48.030285+00,NaN,2020-09-28 22:00:00+00,NaN,NaN,regular,2020-09-11 04:45:05.759461+00,NaN,NaN,NaN
17516,17970,100.0,money_back,2020-09-26 11:31:01.222422+00,2020-12-18 13:11:20.187133+00,17614.0,NaN,NaN,2020-11-02 22:00:00+00,2020-09-29,2020-11-02 19:38:29.266998+00,instant,2020-10-03 11:31:01.173596+00,NaN,NaN,NaN
18267,17653,100.0,money_back,2020-09-24 12:26:12.572891+00,2020-12-18 13:11:36.168524+00,4330.0,2020-09-24 12:27:01.599679+00,NaN,2020-10-08 10:00:00+00,2020-09-27,2020-10-08 00:03:23.206415+00,instant,2020-10-01 12:26:12.551245+00,NaN,NaN,NaN
13288,9786,60.0,money_back,2020-07-27 15:06:39.178216+00,2020-12-18 13:09:44.143305+00,14583.0,2020-07-27 15:17:58.388121+00,NaN,2020-09-21 10:00:00+00,2020-07-30,2020-09-21 18:51:43.205211+00,regular,2020-08-03 15:06:39.177779+00,NaN,NaN,NaN
4544,11056,20.0,rejected,2020-08-06 05:56:53.00221+00,2020-08-06 11:39:42.1269+00,29657.0,2020-08-06 11:39:42.124587+00,NaN,2020-09-06 22:00:00+00,NaN,NaN,regular,2020-08-13 05:56:53.001834+00,NaN,NaN,NaN

In [17]:
#cleaning:
# deleted_account_id se pueden utilizar para completar los user_id faltantes.

Para poder definir correctamente los cohorts que menciona en el readme file debemos saber con seguridad si se esta refiriendo a:

SI***
Opcion A:
Cohort se refiere a la terminologia interna de ironhack donde un grupo de estudiantes que pertenecen a un grupo de bootcamp se consideran un cohort.

NO****
Opcion B:
Cohort se refiere al comportamiento que los usuarios muestran con respecto a las metricas de estudio a través de los meses de uso de el servicio.

In [ ]:
Merge

In [88]:
import pandas as pd

cashrequestdf = pd.read_csv("project_dataset/cashreq.csv")
print(cashrequestdf.dtypes)

cashrequestdf

id                              int64
amount                        float64
status                         object
created_at                     object
updated_at                     object
user_id                       float64
moderated_at                   object
deleted_account_id            float64
reimbursement_date             object
cash_request_received_date     object
money_back_date                object
transfer_type                  object
send_at                        object
recovery_status                object
reco_creation                  object
reco_last_update               object
dtype: object

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

In [21]:
feesdf.nunique()

id                 21061
cash_request_id    12933
type                   3
status                 4
category               2
total_amount           2
reason             15149
created_at         21026
updated_at         21061
paid_at            15529
from_date           1084
to_date             1560
charge_moment          2
dtype: int64

In [19]:
feesdf.sample(25)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
10474,3315,11753.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 11753,2020-08-10 16:27:50.051688+00,2020-10-13 14:25:05.302996+00,2020-09-14 19:36:09.3866+00,NaN,NaN,after
15208,10554,18887.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 18887,2020-10-02 15:05:29.376901+00,2020-10-13 14:25:13.959168+00,2020-11-11 04:31:03.112984+00,NaN,NaN,after
12350,5742,14264.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 14264,2020-09-02 12:23:58.595585+00,2020-10-13 14:25:08.497009+00,2020-10-06 19:26:34.472411+00,NaN,NaN,after
2658,4192,12717.0,postpone,accepted,NaN,5.0,Postpone Cash Request 12717,2020-08-18 07:55:48.026266+00,2020-10-13 14:25:06.422887+00,2020-08-18 07:55:52.34808+00,2020-09-04 23:51:00+00,2020-10-04 23:51:00+00,before
20635,7312,7154.0,incident,accepted,month_delay_on_payment,5.0,month delay on payment - 9/2020,2020-09-11 23:02:45.006361+00,2020-10-13 14:25:16.469689+00,2021-02-05 02:33:34.491522+00,NaN,NaN,after
13421,5044,13757.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 13757,2020-08-24 16:13:51.32576+00,2020-10-13 14:25:10.311147+00,2020-09-10 20:06:41.602212+00,NaN,NaN,after
15755,201,2734.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 2734,2020-06-23 08:20:49.973665+00,2020-10-13 14:25:14.939047+00,NaN,2020-07-05 22:00:00+00,2020-08-04 22:00:00+00,after
8500,18157,19728.0,postpone,accepted,NaN,5.0,Postpone Cash Request 19728,2020-10-26 19:42:07.206178+00,2020-10-26 19:42:07.206202+00,2020-10-26 19:42:11.545967+00,2020-10-28 22:00:00+00,2020-10-29 23:00:00+00,before
477,20211,19412.0,postpone,accepted,NaN,5.0,Postpone Cash Request 19412,2020-10-30 16:52:12.347307+00,2020-10-30 16:52:12.347331+00,2020-10-30 17:22:45.942951+00,2020-11-02 11:00:00+00,2020-12-01 23:00:00+00,before
12720,6126,2628.0,incident,accepted,month_delay_on_payment,5.0,month delay on payment - 9/2020,2020-09-04 23:15:04.125644+00,2020-10-13 14:25:09.136257+00,2020-09-15 07:23:30.499906+00,NaN,NaN,after
5807,11374,19467.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19467,2020-10-06 15:00:27.351418+00,2020-10-13 14:25:07.021176+00,2020-11-05 19:48:44.368678+00,NaN,NaN,after
871,15012,22333.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 22333,2020-10-20 06:19:18.392415+00,2020-10-20 06:19:18.392439+00,2020-11-28 19:39:11.162353+00,NaN,NaN,after
6524,13892,21461.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 21461,2020-10-16 03:57:35.47755+00,2020-10-16 03:57:35.477583+00,2020-11-12 19:40:51.499064+00,NaN,NaN,after
3627,9291,16782.0,postpone,accepted,NaN,5.0,Postpone Cash Request 16782,2020-09-25 19:58:47.348948+00,2020-10-13 14:25:13.935154+00,2020-09-25 19:58:51.891721+00,2020-10-02 16:07:22.746+00,2020-10-05 22:00:00+00,before
2495,3259,8182.0,postpone,accepted,NaN,5.0,Postpone Cash Request 8182,2020-08-10 12:52:58.328319+00,2020-10-13 14:25:05.146783+00,2020-08-10 12:53:02.30831+00,2020-08-13 22:00:00+00,2020-08-27 22:00:00+00,before
7051,20343,21548.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 21548,2020-10-30 17:13:49.808046+00,2020-10-30 17:13:49.808068+00,NaN,2020-11-06 11:00:00+00,2020-11-29 11:00:00+00,before
3431,7916,16145.0,postpone,accepted,NaN,5.0,Postpone Cash Request 16145,2020-09-16 12:15:17.898456+00,2020-10-13 14:25:11.86717+00,2020-09-16 12:15:22.525373+00,2020-10-06 22:00:00+00,2020-11-05 22:00:00+00,before
18646,6830,15270.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 15270,2020-09-09 08:21:28.947728+00,2020-10-13 14:25:09.811075+00,2020-12-03 17:36:54.948068+00,NaN,NaN,after
11800,19298,25741.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25741,2020-10-28 17:35:47.628979+00,2020-10-28 17:35:47.629002+00,2020-11-25 20:04:47.487786+00,NaN,NaN,after
6468,17759,24586.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24586,2020-10-26 10:25:12.706122+00,2020-10-26 10:25:12.706152+00,2020-11-06 08:04:03.079098+00,NaN,NaN,after
3678,9912,18054.0,postpone,accepted,NaN,5.0,Postpone Cash Request 18054,2020-09-29 13:09:17.858834+00,2020-10-13 14:25:14.38957+00,2020-09-29 13:09:21.99295+00,2020-11-02 22:00:00+00,2020-11-12 11:00:00+00,before
13685,20191,22294.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22294,2020-10-30 16:51:36.264466+00,2020-10-30 16:51:36.264488+00,NaN,2020-11-01 23:51:00+00,2020-11-29 23:00:00+00,before
16032,2024,9439.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 9439,2020-07-26 11:35:56.216061+00,2020-10-13 14:25:15.382328+00,NaN,2020-08-05 22:00:00+00,2020-09-05 11:35:27.149+00,after
5167,14579,21997.0,instant_payment,confirmed,NaN,5.0,Instant Payment Cash Request 21997,2020-10-18 17:48:01.366624+00,2020-10-18 17:48:01.366647+00,NaN,NaN,NaN,after
20084,14296,21769.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 21769,2020-10-17 10:17:28.549064+00,2020-10-17 10:17:28.549087+00,2020-11-05 14:02:03.962627+00,NaN,NaN,after

In [ ]:
#Vemos que cuando el type es = incident entonces category = month_delay_on_payment o deject_direct_debit.

In [21]:
feesdf.sample(25)
feesdf[feesdf["total_amount"] != 5.0]

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
20604,15552,22799.0,instant_payment,accepted,NaN,10.0,Instant Payment Cash Request 22799,2020-10-21 13:01:52.493241+00,2021-01-21 15:42:51.372269+00,2020-10-30 00:18:41+00,NaN,NaN,after

In [29]:
#Hemos encontrado un valor de total_amount = 10.0 en un unico caso lo que nos hace suponer que se trata de un error del sistema.

#proximos pasos:

1. arreglar columna de user_id
2. agregar el cohort dependiendo de la primer transaccion
3. unir los dataframes  (incident rates esta en la tabla de fees)
4. crear un nuevo dataframe que combine las columnas que queremos (para revenue vamos a tener que calcular total_amount por mes y por usuario)

Merging

In [107]:
# Merge
import pandas as pd

cashrequestdf = pd.read_csv("project_dataset/cashreq.csv")
feesdf = pd.read_csv("project_dataset/fees.csv")

# Full outer merge showing all data, matching or not
merged_df = pd.merge(
    cashrequestdf,
    feesdf,
    on='id',
    how='outer',
    suffixes=('_cash', '_fee')
)

merged_df

,id,amount,status_cash,created_at_cash,updated_at_cash,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,...,status_fee,category,total_amount,reason,created_at_fee,updated_at_fee,paid_at,from_date,to_date,charge_moment
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 2060,2020-06-23 08:20:48.3471+00,2020-10-13 14:25:15.264091+00,NaN,2020-06-06 22:00:00+00,2020-06-17 18:13:35.023+00,after
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 2214,2020-06-23 08:20:48.356613+00,2020-10-13 14:25:15.052846+00,NaN,2020-06-07 22:00:00+00,2020-06-22 22:00:00+00,after
2,3,1.0,canceled,2019-11-19 13:57:53.511561+00,2020-12-14 10:25:57.710844+00,47.0,2019-11-20 12:16:50+00,NaN,2019-12-05 23:00:00+00,NaN,...,accepted,NaN,5.0,Postpone Cash Request 2069,2020-06-23 08:20:48.383332+00,2020-10-13 14:25:00.803082+00,NaN,2020-06-07 22:00:00+00,2020-06-22 22:00:00+00,before
3,4,100.0,money_back,2019-12-09 14:47:35.190714+00,2020-11-04 12:54:52.120014+00,NaN,2019-12-09 14:58:28+00,1309.0,2019-12-16 23:00:00+00,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 1655,2020-06-23 08:20:48.389689+00,2020-10-13 14:25:15.05483+00,NaN,2020-06-07 22:00:00+00,2020-07-07 22:00:00+00,after
4,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,...,accepted,NaN,5.0,Postpone Cash Request 2568,2020-06-09 10:55:46.687183+00,2020-10-13 14:25:01.328917+00,NaN,2020-06-26 22:00:00+00,2020-07-26 22:00:00+00,before
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,27006,50.0,money_back,2020-11-01 23:07:55.231487+00,2020-12-18 13:11:35.051472+00,55916.0,NaN,NaN,2020-11-12 22:00:00+00,2020-11-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26594,27007,100.0,money_back,2020-11-01 23:11:37.788849+00,2020-12-18 13:13:10.258884+00,39339.0,NaN,NaN,2020-11-29 11:00:00+00,2020-11-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26595,27008,50.0,rejected,2020-11-01 23:13:19.286745+00,2020-11-02 09:06:37.169489+00,24505.0,2020-11-02 09:06:37.162733+00,NaN,2020-11-24 23:51:00+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26596,27009,60.0,money_back,2020-11-01 23:15:28.102894+00,2020-12-18 13:10:18.00419+00,100781.0,NaN,NaN,2020-12-04 11:00:00+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26597,27010,100.0,money_back,2020-11-01 23:42:30.847066+00,2020-12-18 13:10:37.690636+00,96599.0,NaN,NaN,2020-11-30 23:00:00+00,2020-11-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning Date

In [122]:
# List of datetime columns you want to convert
date_columns = [
    "created_at_cash", 
    "updated_at_cash", 
    "moderated_at", 
    "reimbursement_date", 
    "money_back_date", 
    "send_at",
    "created_at_fee",
    "updated_at_fee",
    "paid_at",
    "from_date",
    "to_date"
]

# To convert to datetime and keep only the date
for col in date_columns:
    merged_df[col] = pd.to_datetime(merged_df[col], errors='coerce').dt.date

# Now, those columns will show only the date
merged_df

,id,amount,status_cash,created_at_cash,updated_at_cash,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,...,status_fee,category,total_amount,reason,created_at_fee,updated_at_fee,paid_at,from_date,to_date,charge_moment
0,1,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaT,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 2060,2020-06-23,2020-10-13,NaT,2020-06-06,2020-06-17,after
1,2,NaN,NaN,NaT,NaT,NaN,NaT,NaN,NaT,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 2214,2020-06-23,2020-10-13,NaT,2020-06-07,NaT,after
2,3,1.0,canceled,2019-11-19,2020-12-14,47.0,2019-11-20,NaN,2019-12-05,NaN,...,accepted,NaN,5.0,Postpone Cash Request 2069,2020-06-23,2020-10-13,NaT,2020-06-07,NaT,before
3,4,100.0,money_back,2019-12-09,2020-11-04,NaN,2019-12-09,1309.0,2019-12-16,NaN,...,cancelled,NaN,5.0,Postpone Cash Request 1655,2020-06-23,2020-10-13,NaT,2020-06-07,NaT,after
4,5,100.0,rejected,2019-12-10,2019-12-11,804.0,NaT,NaN,NaT,NaN,...,accepted,NaN,5.0,Postpone Cash Request 2568,2020-06-09,2020-10-13,NaT,2020-06-26,NaT,before
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,27006,50.0,money_back,2020-11-01,2020-12-18,55916.0,NaT,NaN,2020-11-12,2020-11-02,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN
26594,27007,100.0,money_back,2020-11-01,2020-12-18,39339.0,NaT,NaN,2020-11-29,2020-11-02,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN
26595,27008,50.0,rejected,2020-11-01,2020-11-02,24505.0,NaT,NaN,2020-11-24,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN
26596,27009,60.0,money_back,2020-11-01,2020-12-18,100781.0,NaT,NaN,2020-12-04,NaN,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN
26597,27010,100.0,money_back,2020-11-01,2020-12-18,96599.0,NaT,NaN,2020-11-30,2020-11-03,...,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaN

In [118]:
merged_df.nunique()

id                            26598
amount                           41
status_cash                       7
created_at_cash                 330
updated_at_cash                 401
user_id                       10798
moderated_at                     85
deleted_account_id             1141
reimbursement_date              383
cash_request_received_date      312
money_back_date                 171
transfer_type                     2
send_at                         104
recovery_status                   4
reco_creation                  3330
reco_last_update               3330
cash_request_id               12933
type                              3
status_fee                        4
category                          2
total_amount                      2
reason                        15149
created_at_fee                  157
updated_at_fee                   34
paid_at                         229
from_date                       185
to_date                         137
charge_moment                     2
dtype: int64

In [ ]:
####### 1

Frequency of Service Usage: Understand how often users from each cohort utilize IronHack Payments' cash advance services over time.

In [ ]:
# From cashreq.csv:
# user_id --> to group users into cohorts
# created_at_fee --> to know when the service was used

In [142]:
import pandas as pd

# Load data
fees_df = pd.read_csv("project_dataset/fees.csv")
cashreq_df = pd.read_csv("project_dataset/cashreq.csv")

# Ensure created_at in fees is parsed correctly
fees_df['created_at'] = pd.to_datetime(fees_df['created_at'], errors='coerce')

# Merge to get user_id (because fees.csv doesn't include it directly)
merged_df = pd.merge(
    fees_df,
    cashreq_df[['id', 'user_id']],
    left_on='cash_request_id',
    right_on='id',
    how='left'
)

# Drop rows with missing user_id or created_at
merged_df = merged_df.dropna(subset=['user_id', 'created_at'])
merged_df['user_id'] = merged_df['user_id'].astype(str)

# STEP 1: Define cohort (user's first use of the service)
user_cohort = merged_df.groupby('user_id')['created_at'].min().reset_index()
user_cohort.rename(columns={'created_at': 'cohort_date'}, inplace=True)

# STEP 2: Merge cohort info into dataset
merged_df = pd.merge(merged_df, user_cohort, on='user_id', how='left')

# STEP 3: Extract period (month) from both dates
merged_df['cohort_month'] = merged_df['cohort_date'].dt.to_period('M')
merged_df['usage_month'] = merged_df['created_at'].dt.to_period('M')

# STEP 4: Count usage per cohort per month
usage_freq = merged_df.groupby(['cohort_month', 'usage_month'])['cash_request_id'].count().reset_index()
usage_freq.rename(columns={'cash_request_id': 'service_usage_count'}, inplace=True)

# Show result
usage_freq

/var/folders/bx/bzgj6qhd5_l2_b7d0v7r7r7r0000gn/T/ipykernel_9283/2148125468.py:31: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  merged_df['cohort_month'] = merged_df['cohort_date'].dt.to_period('M')
/var/folders/bx/bzgj6qhd5_l2_b7d0v7r7r7r0000gn/T/ipykernel_9283/2148125468.py:32: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  merged_df['usage_month'] = merged_df['created_at'].dt.to_period('M')

   cohort_month usage_month  service_usage_count
0       2020-05     2020-05                   16
1       2020-05     2020-06                    6
2       2020-05     2020-07                    3
3       2020-05     2020-08                   12
4       2020-05     2020-09                   11
5       2020-05     2020-10                   16
6       2020-06     2020-06                  675
7       2020-06     2020-07                  349
8       2020-06     2020-08                  371
9       2020-06     2020-09                  409
10      2020-06     2020-10                  395
11      2020-06     2020-11                    8
12      2020-07     2020-07                 1092
13      2020-07     2020-08                  679
14      2020-07     2020-09                  638
15      2020-07     2020-10                  719
16      2020-07     2020-11                    9
17      2020-08     2020-08                 1793
18      2020-08     2020-09                 1370
19      2020-08     2020-10                 1369
20      2020-08     2020-11                   24
21      2020-09     2020-09                 1964
22      2020-09     2020-10                 1748
23      2020-09     2020-11                   36
24      2020-10     2020-10                 6255
25      2020-10     2020-11                  106
26      2020-11     2020-11                   78